
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #696969;
}
.container {
	width: 600px;
	height: 600px;
	margin: 20px auto;
	background: #a9a9a9;
	border-radius: 10px;
	text-align: center;
}